/* ============================= */
/* PROJECTS PAGE */
/* ============================= */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

.projects-page {
  padding: 120px 10%;
  min-height: 100vh;
  background: radial-gradient(
      circle at 20% 20%,
      rgba(139, 92, 246, 0.08),
      transparent 40%
    ),
    var(--bg-main);
}

.projects-page h1 {
  text-align: center;
  margin-bottom: 90px;
  font-size: 3rem;
  position: relative;
}

.projects-page h1::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--accent-primary);
  display: block;
  margin: 16px auto 0;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .projects-page {
    padding: 80px 6%;
  }
}

