/* src/pages/ServicePage.css */
.service-page {
  padding: 2rem;
  background-color: var(--bg-main);
  color: var(--text-primary);
}

.service-page h1 {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
}

.service-cards {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.service-card {
  border: 1px solid var(--border-color);
  padding: 1.5rem;
  border-radius: 8px;
  background-color: var(--bg-card);
  display: flex;
  align-items:center;
  flex-direction: column;
}

.service-card h2 {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  margin-bottom: 0.75rem; /* Increased spacing */
  color: var(--text-primary);
}

.service-card p {
  margin-bottom: 0.75rem; /* Consistent spacing */
  color: var(--text-secondary);
  flex-grow: 1; /* Allows paragraphs to take up available space */
}

.service-card h3 {
  font-family: var(--font-heading);
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.service-card ul {
  list-style: none; /* Remove default list style */
  padding-left: 0; /* Remove default padding */
  margin-bottom: 1rem;
}

.service-card ul li {
  position: relative;
  margin-bottom: 0.5rem; /* Spacing between list items */
  color: var(--text-secondary);
}


.service-card button {
  margin-top: auto; /* Push button to the bottom */
  padding: 0.8rem 1.5rem;
  background-color: var(--accent-primary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-body);
  font-weight: 600;
  transition: background-color 0.3s;
  align-self: center; /* Align button to the start */
}

.service-card button:hover {
  background-color: #6d28d9;
}

.service-card:hover {
  transition: all 0.25s ease;
  box-shadow: 0 0 18px rgba(139, 92, 246, 0.35);
}
