.about-container {
  max-width: 850px;
  margin: 0 auto;
}


/* TITLE */

.about-title {
  font-family: var(--font-heading);
  font-size: 2.5rem;        /* 40px approx */
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 48px;
  text-align: center;
  color: var(--text-primary);
}

.about.section {
  padding: 65px 24px;
}


/* CONTENT */

.about-content p {
  font-family: var(--font-body);
  font-size: 1rem;          /* 16px */
  font-weight: 400;
  line-height: 1.8;
  color: var(--text-secondary);
  margin-bottom: 22px;
  text-align: justify;
}

.about-content p + p {
  margin-top: 4px;
}



.about-intro {
  font-family: var(--font-body);
  font-size: 1.2rem;        /* ~19px */
  font-weight: 500;
  line-height: 1.7;
  color: var(--text-primary);
  margin-bottom: 28px;
}


/* RESPONSIVE */

@media (max-width: 640px) {
  .about-title {
    font-size: 30px;
  }

  .about-content p {
    font-size: 15px;
  }

  .about-intro {
    font-size: 16px;
  }
}
