.flip-card {
  background: transparent;
  perspective: 1000px;
  height: 260px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  padding: 25px;
  backface-visibility: hidden;

  background: var(--bg-card);
  border: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.flip-card-front h3 {
  margin-bottom: 10px;
  color: var(--text-primary);
  font-size: 1.2rem;
}

.flip-card-front p {
  font-size: 0.9rem;
  color: var(--text-secondary);
}


.flip-card-back {
  transform: rotateY(180deg);
  align-items: center;
  text-align: center;
}


.tech-stack {
  margin-bottom: 20px;
}

.tech-badge {
  display: inline-block;
  background: rgba(139, 92, 246, 0.1);
  color: var(--accent-primary);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  margin: 4px;
}


.github-btn {
  padding: 8px 16px;
  background: var(--accent-primary);
  color: white;
  border-radius: 8px;
  font-size: 0.85rem;
  transition: 0.3s ease;
}

.github-btn:hover {
  opacity: 0.9;
}
